$font-color: #252B30;
$font-color-active: #7F6B38;
$font-color-second: #93A4A9;
$font-color-third: #FFFFFF;

$bg-color: #FFFFFF;
$bg-color-second: #EEEEEE;
$bg-color-third: #FDD66F;
$bg-color-third-active: rgba(253, 214, 111, 0.6);
$bg-color-fourth: #252B30;


$tablet-width: 768px;
$desktop-width: 1150px;

$main-font-family: "Open Sans", "Arial", sans-serif;