body {
  min-width: 320px;
  
  font-family: $main-font-family;
  // font-weight: 400;

  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-transform: uppercase;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}