.contacts {
  width: 130px;
  min-height: 260px;
  
  margin-top: -65px;
  margin-left: 65px;
  margin-right: 65px;
  z-index: 10;
}

.contacts__user-photo {
  display: block;
  
  width: 140px;
  height: auto;
  margin-bottom: 13px;
  
  border-radius: 50%;
  border: 5px solid $bg-color;
}

.contacts__phone {
  margin-bottom: 25px;
}

.contacts__phone-link {
  display: block;
  min-height: 30px;
  padding: 8px 12px;
  
  font-size: 11px;
  vertical-align: 14px;
  font-weight: 700;
  
  border-radius: 5px;
  background-color: $bg-color-third;
}

.contacts__phone-link:hover {
  color: $bg-color-third;
  background-color: $bg-color-fourth;
}

.contacts__phone-link:active {
  padding-top: 9px;
  padding-bottom: 7px;
}

.contacts__social {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .contacts {
    flex-shrink: 0;
    
    margin-left: 47px;
    margin-right: 47px;
  }
}