.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 80px;
  
  color: $font-color;
  background-color: $bg-color-third;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  
  width: 260px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}

.header__nav--nojs {
  justify-content: center;
}

.header__logo {
  cursor: default;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  min-height: 80px;
  
  font-size: 17px;
  vertical-align: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__logo-name {
  letter-spacing: 2.2px;
  word-spacing: 1px;
}

.header__technologies {
  padding-top: 3px;
  
  text-align: center;
  font-size: 10px;
  vertical-align: 12px;
}

.header__logo-name,
.header__technologies {
  display: block;
}

.header__toggle {
  position: relative;
  
  width: 80px;
  height: 80px;
  
  font-size: 0;
}

.header__toggle--closed::before,
.header__toggle--closed::after,
.header__toggle--opened::before,
.header__toggle--opened::after {
  content: "";
  position: absolute;
  
  width: 30px;
  height: 2px;
  
  background-color: $font-color;
}

.header__toggle--closed::before {
  top: 29px;
  right: 0;
  
  box-shadow: 0 10px $font-color;
}

.header__toggle--closed::after {
  bottom: 29px;
  right: 0;
}

.header__toggle--opened::before {
  top: 39px;
  right: 0;
  
  transform: rotate(45deg);
}

.header__toggle--opened::after {
  top: 39px;
  right: 0;
  
  transform: rotate(-45deg);
}

.header__toggle--hidden {
  display: none;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header__menu--hidden {
  display: none;
}

.header__menu-item {
  width: 100%;
  
  border-bottom: 1px solid $font-color;
}

.header__menu-item:last-child {
  border-bottom: none;
}

.header__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 70px;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 90px;
  }
  
  .header__wrapper {
    width: 708px;
    height: 100%;
  }
  
  .header__logo {
    font-size: 19px;
    vertical-align: 21px;
  }
  
  .header__technologies {
    font-size: 11px;
    vertical-align: 13px;
  }
  
  .header__menu {
    width: auto;
  }
  
  .header__menu-item {
    border-bottom: none;
  }
  
  .header__toggle {
    display: none;
  }
  
  .header__menu {
    display: flex;
  }
  
  .header__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: auto;
    min-height: 90px;
  }
  
  .header__menu-link {
    display: flex;
    align-items: center;
    
    height: 100%;
    padding: 0 30px;
    
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .header__menu-item:last-child .header__menu-link {
    padding-right: 0;
  }
  
  .header__menu-link:hover {
    color: $font-color-third;
  }
  
  .header__menu-link:active {
    opacity: 0.5;
  }
}

@media (min-width: $desktop-width) {
  
  .header__wrapper {
    width: 900px;
  }
  
  .header__logo {
    font-size: 20px;
    vertical-align: 22px;
  }
  
  .header__technologies {
    font-size: 12px;
    vertical-align: 14px;
  }
}