.projects {
  display: flex;
  justify-content: center;
}

.projects__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  width: 320px;
}

@media (min-width: $tablet-width) {
  .projects__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .projects__wrapper {
    width: 900px;
  }
}
